<form (ngSubmit)="addUser(forma)" novalidate="" #forma="ngForm">

  <div class="form-group row  bmd-form-group">
    <div class="col">
      <label for="name">Username</label>
      <input type="text" class="form-control" placeholder="Username" name="name" 
      [ngModel]="user.name" required
        #name="ngModel">
      <div *ngIf="name.errors?.required && exec">
        This field is required
      </div>
    </div>
    <div class="col">
      <label>email</label>
      <input type="email" class="form-control" placeholder="email" name="email" 
      [ngModel]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        #email="ngModel">
    
      <div *ngIf="email.errors?.pattern">
        Insert a valid email
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
        <label>Age</label>
        <input type="number" class="form-control" placeholder="age" name="age" [(ngModel)]="user.age" min=1 max=99 #age="ngModel">
        <div *ngIf="age.value>99 || age.value <18">
          Age must be between 1 and 99
        </div>
    </div>

    <div class="col">
      <label>Password</label>
      <input type="string" class="form-control" placeholder="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
    </div>
    
  </div>

  <div class="form-group row">
    <div class="col">
      <label>Instrument</label>
      <input type="string" class="form-control" placeholder="instrument" name="instrument" [(ngModel)]="user.instrument" min=1 max=99 #instrument="ngModel">
    </div>
  
    <div class="col">
      <label>Style</label>
      <input type="string" class="form-control" placeholder="style" name="style" [(ngModel)]="user.style" #style="ngModel">
    </div>
  
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="image" [(ngModel)]="user.image" class="form-control-file" id="form-image" (change)="handleFileInput($event.target.files)">
  </div>

  <div class="form-group row">
    <label>about</label>
    <textarea class="form-control" placeholder="about" name="about" 
    [(ngModel)]="user.about" #about="ngModel"></textarea>
    <div *ngIf="about.lenght">
      {{about}}
    </div>
  </div>

  <button [disabled]="!forma.valid" class="btn btn-primary" type="submit">Submit form</button>
</form>