<!-- <div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <h1></h1>
    <div class="alert" *ngIf="userService.errors">{{userService.errors}}</div>
    <div class="row" *ngFor="let user of userService.usersToDisplay; let i = index">
      <div class="col-md-3">
        <img width="100px" height="100px" src="{{userService.urlBase+ 'user/get-image/'+user._id}}" onError="this.src='assets/img/notfound.png';"/>
      </div>
      <div class="col-md-9">
        {{user.name}} {{user.age}} Hola
        <a [routerLink]="['/user',user._id]" class="btn"> Ir al detalle</a>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <input #bandInput type="text" class="form-control" placeholder="Buscar una banda..." (keyup)="searchTerm(bandInput.value)">
  <div class="row" style="margin-top:20px;">

    <div class="col-sm-4 col-md-offset-2" *ngFor="let band of bandService.bandsToDisplay;let i = index" style="margin-bottom: 20px;">
      <div class="card text-center">
        <!-- <img class="card-img-top" src="{{bandService.urlBase+ 'band/get-image/'+band._id}}" alt=""> -->
        <div class="card-body">
          <span class="badge badge-pill badge-primary">{{band.vacancy}}</span>
          <span class="badge badge-pill badge-secondary">{{band.style}}</span>

          <h6 class="card-header">{{band.name | uppercase}}</h6>
          <!-- <p class="card-text">{{band.about  | shortWords}}</p> -->
          <a class="btn btn-primary" [routerLink]="['/band',band._id]">VER</a>
        </div>
      </div>
    </div>
  </div>
</div>